<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="dz-preview dz-file-preview"
       id="viewer">
    <div class="dz-details"
         name=""
         onclick="viewFile(this)">
    <div class="fileId"
         style="display:none;"></div>
    <div class="dz-filename"></div>
    <div class="dz-size"
         data-dz-size=""></div><img data-dz-thumbnail=""></div>
    <div class="dz-progress"></div>
    <div class="dz-success-mark">
      <span>?</span>
    </div>
    <div class="dz-error-mark">
      <span>?</span>
    </div>
    <div class="dz-error-message">
      <span data-dz-errormessage="">""</span>
    </div>
  </div>
</body>
</html>
